* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px;
}


ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr)); /* Adjust the column sizes as needed */
  grid-gap: 20px; /* Adjust the gap between items */
  justify-items: center; /* Center items horizontally */
  list-style: none;
}

img {
  border-radius: 100px;
}

li {
  margin: 50px;
  list-style: none;
}