body {
  margin: 0;
  font-family: -apple-system, 'Didact Gothic', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.labelBold {
  font-weight: bold;
}

h1 {
  font-family: 'Merriweather', serif;
  text-transform: uppercase;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
